<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    APPLIANCE RENTAL MANAGEMENT SYSTEM</a>
            </div>

        </div>
    </nav>
    <div class="container-fluid text-center">    
            <div class="row content">
                    <div class="col-sm-2 sidenav">
                            <div class="well">
                              <img src="https://www.bing.com/th?id=OIP.9r5hSL-0kv6lX7cF9K5q9gHaG8&w=258&h=242&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" width="100px;">
                            </div>
                            <div class="well">
                              <img src="https://www.bing.com/th?id=OIP.DoACIpBSElzUMa2ydgREEAHaFS&w=295&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" width="100px;">
                            </div>
                            <div class="well">
                                    <img src="https://www.bing.com/th?id=OIP.l29Ju9-pj9ThXA8U6s_NTwHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" width="100px;">
                                  </div>
                               
    
              </div>
              <div class="col-sm-8 text-left"> 
                  <table>
                      <tr>
                    <td>VENDOR ID:</td>
                    <td><input type="number" [(ngModel)]="id" name="vendorid" required></td>
                    <td colspan="2"><button (click)="employeeDetails()"class="btn btn-primary" type="submit">VIEW VENDOR SPECIFIC PRODUCT</button></td>
                  </tr>
                  </table>
                    <br>
                    <img src="assets/images/ARM1.png" alt="Generic placeholder image" width="700">
              </div>
              <div class="col-sm-2 sidenav">
                <div class="well">
                  <img src="https://www.bing.com/th?id=OIP.9r5hSL-0kv6lX7cF9K5q9gHaG8&w=258&h=242&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" width="100px;">
                </div>
                <div class="well">
                  <img src="https://www.bing.com/th?id=OIP.DoACIpBSElzUMa2ydgREEAHaFS&w=295&h=211&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" width="100px;">
                </div>
                <div class="well">
                        <img src="https://www.bing.com/th?id=OIP.l29Ju9-pj9ThXA8U6s_NTwHaEK&w=333&h=187&c=8&rs=1&qlt=90&o=6&dpr=1.5&pid=3.1&rm=2" width="100px;">
                      </div>
                      
              </div>
            </div>
          </div>
</body>
</html>
