
<div class="container height-100 d-flex justify-content-center align-items-center"> 
    <div class="position-relative"> 
        <div class="card p-2 text-center"> 
            <h6>Please enter the unique ID <br> to verify your account</h6> 
            <div> <span>A Vendor login credentials has been sent to the respective mail ID</span> 
            
            </div> 
            <div id="otp" style=" margin-top:20px;"> 
                    <input type="password" class="form-control" id="pwd">
            </div> 
            <div class="mt-4"> <button (click)="successNotification()"  class="btn btn-danger px-4 validate">Validate</button>
            </div> 
                       </div> 
                  </div>
</div>
