body{
  background-color:#b6d3ff;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background-color:#fff;
  border:none;
  height:500px;
  overflow:hidden;
}

.input-field{
  position:relative;
  margin-top:5px;
}

.input-field input{
  height:50px;
  outline:none !important;
  border:2px solid #eee;
 
}

.input-field input:focus{
  box-shadow:none;
  outline:none !important;
}

.input-field label{
  position:absolute;
  top:10px;
  left:6px;
  transition:all 0.5s;
  background-color:#fff;
  padding:0px 10px;
  border-radius:20px;
  
   
}

.input-field input:focus+label,
.input-field input:valid+label
{
  position:absolute;
  top:-10px;
  left:6px;
  font-size:13px;

}


.signup-button{
  height:50px;
  font-size:19px;
  text-transform:uppercase;
}

.right-side{
  
  position:relative;
  
}


.right-side-content{
  height:500px;
  width:100%;
  padding:10px;
  position:relative;
}


.right-side-content .content{
  position:absolute;
  top:50%;
  left:0%;
  padding:0px 40px;
}

body
{
  background-image: url("https://i.pinimg.com/originals/58/73/17/587317ca805f748682aee815cb43f563.jpg");
}


.card:hover .right-side span:nth-child(10){
  left:20px;
  top:330px;
}

.card:hover .right-side span:nth-child(9){
  top:340px;
  right:90px;
}


.content{
  display:flex;
  color:#fff;
  justify-content:center;
  align-items:center;
}

.content h6{
  text-align:left;
}

.content span{
  font-size:12px;
}
.container
{
  margin: 40px;
}