<body>

    <div class="container">
    
        <div class="card">
    
           
            <br>
            <div class="col-md-6">

                <div class="right-side-content">

                        <img src="../../../assets/images/ARM1.png" width="1000px" height="500px;" alt="Generic placeholder image">

                </div>
                

            </div>
            <div class="row g-0">
                <button (click)="login()" class="btn btn-primary w-100 signup-button">LOGIN</button>
            </div>
        </div>
    </div>
</body>
